@media screen and (max-width: 786px) {
    .logmbl
    {
        margin-right: -56px;
        margin-left: 100px;
    }
}

.btn-block{
    width:325px;
}
label{
    margin-top: 1px;
    margin-left: auto;
}
input{
    margin-left: auto;
    margin-top:4px;
}
button{
    margin-top: 10px;
}
a{
    text-decoration: none;
}