<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a
        [routerLink]="'/tDashboard/' + tenantService.currentTenantValue.tenantId ">{{this.tenantService.currentTenantValue.tenantName}}</a>
    </li>
    <li class="breadcrumb-item"><a routerLink="/flow">Flow</a></li>
  </ol>
</nav>
<div>
  <div class="row">
    <div *ngIf="!(flowTiles.length>0)">
      <h5>No Apps available</h5>
    </div>
    <div class="banner banner1 col-md-3" *ngFor="let tile of flowTiles">
      <a class="market-container-box" [routerLink]="[tile.route]">
        <div class="app-box">
          <div class="app-img">
            <img src={{tile.imageUrl}} />
          </div>
          <div class="app-info">
            <div class="app-dec">
              <h5>{{tile.tileName}}</h5>
              <div [innerHtml]="tile.description"></div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>