.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 40px 0 0;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 0px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  border: 1px solid rgba(250, 250, 250, 1);
  border-bottom-color: rgba(250, 250, 250, 1) !important;
}

.ml-3 {
  margin: 6px;
}

// Account icons Styles
::ng-deep .mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  background-color: #FFECD1;
  border: 1px solid #EC8613;
  color: #EC8613;
  text-transform: capitalize;
  width: 35px;
  height: 35px;
  font-size: 20px;
  box-shadow: 0 0 black;
}

::ng-deep .mat-mini-fab .mat-button-wrapper {
  padding: 0px 10px !important;
  display: inline-block;
  line-height: 24px;
}

// Icon Styling
.fa-icons {
  display: flex;
  justify-content: space-around;
}

.fa-icons mat-icon {
  cursor: pointer;
  font-size: 28px;
  color: #757575 !important;
  opacity: 1;
  margin: 5px;
}

.fa-icons:before {
  content: "" !important;
}

// Search Styles
.searchForm {
  width: 30rem;
}

.btn-style {
  width: 40px;
  height: 40px;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #DDDDDD;
  border-radius: 0px 6px 6px 0px;
  opacity: 1;
}

.input-group-sm>.form-control:not(textarea),
.input-group-sm>.custom-select {
  //height: calc(1.5em + 0.5rem + 2px);
  height: 40px;
  padding-right: 0px;
}

.input-group>.form-control:not(:first-child),
.input-group>.custom-select:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 40px;
}

button:focus {
  outline: none !important;
}








@media screen and (max-width: 786px) {

  .form-control-sm {
    font-size: 12px;
  }
}



// @media screen and (min-width: 360px) and(max-width: 650px) {
//   .form-control-sm
//   {
//     font-size: 12px;
//   }
//   .ml-3 {
//     margin-left: 0.3rem !important;
// }
// .mr-4 {
//   margin-right: 0.3rem !important;
// }
// .ml-2 {
//   margin-left: 0rem !important;
// }
// .mat-icon-button {
//   width: 21px;
// }

// .input-group-sm > .form-control:not(textarea), .input-group-sm > .custom-select {
//   height: 29px;
//   width: 67px;
//   font-size: 9px;
//   margin-top: 7px;
//   padding-left: 0.1rem;
// }
// .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
//   border-top-left-radius: 0;
//   border-bottom-left-radius: 0;
//   height: 29px;
//   margin-top: 7px;
// }
// .btn-style {
//   width: 28px;
//   height: 29px;
//   margin-top: 7px;
// }


//  }
// @media screen and (min-width: 768px) {
//   .logoDisplay {

//     height: 1em;
//     min-width: 1em;
// }
// }

@media screen and (min-width: 300px) and (max-width: 700px) {
  .mat-toolbar-single-row {
    display: revert;
  }

  .input-group>.form-control {
    position: unset;
    flex: inherit;
    width: 45%;
    min-width: 0;
    margin-bottom: 0;
  }

  .fa-icons {
    display: inline-flex;
    justify-content: space-around;
    align-items: baseline;

  }

  .input-group {

    width: 82%;
    padding-left: 95px;
  }

  .fa-icons {

    padding-left: 220px;
  }

}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .primary-background {
    flex-direction: row; /* Stack items vertically */
  }
  .ml-3{
    margin-left: 0rem;
    width: 20%;
  }




}

select{
  width: 100px;
}







