<!-- <h1 mat-dialog-title>Hi {{ data.id }}</h1> -->
<h5>{{data.title}}</h5>
<hr />
<div mat-dialog-content>
  <div [innerHtml]="dialogContentMessage"></div>
  <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.id" />
  </mat-form-field> -->
</div>
<hr />
<div mat-dialog-actions *ngIf="data.action === 'Idle'">
  <button mat-button [mat-dialog-close]="true">Yes(<span [innerHtml]="coreUtility._counter"></span>)</button>

  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
    No
  </button>
</div>
<div mat-dialog-actions *ngIf="data.action === 'Confirm'">
  <button mat-button [mat-dialog-close]="true">Confirm</button>

  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
    Cancel
  </button>
</div>
<div mat-dialog-actions *ngIf="data.action !== 'Warning' && data.action !== 'Confirm' && data.action !== 'Idle'">
  <button mat-button [mat-dialog-close]="true">Yes</button>

  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
    Cancel
  </button>
</div>
<div mat-dialog-actions *ngIf="data.action === 'Warning'">
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>OK</button>
</div>
