/* Custom styles */
body {
    background-color: #f0f2f5;
}

h3 {
    text-align: center;
    margin: 20px 0;
}



#canvas-bar {
    background: white;
    width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 20px;
}
