<span style="margin-left:12px">
    <span matTooltip="Download as Excel" style="color:green;margin:5px;cursor: pointer;"><i class="fa fa-file-excel-o" style="font-size: 27px;"
            (click)="reportHelper.downloadAsExcel()"></i></span>
    <span matTooltip="Download as PDF" style="color:brown;cursor: pointer;"><i class="fa fa-file-pdf-o"
            style="font-size: 27px;" (click)="reportHelper.downloadAsPdf()"></i></span>
    <!--<span matTooltip="Download as CSV"><i class="fa fa-file-text-o" style="font-size: 27px;"
      (click)="reportHelper.downloadAsCSV()"></i></span>-->
</span>
