.mat-form-field {
    display: block !important;
    //border-top: 0px !important;
  }
  .mat-form-field-infix {
    //display: block !important;
    border-top: 0px !important;
  }
  .info {
      float: right;
      margin-top: -11px;
      border-left: 2px solid #2196F3;
      height: 17px;
      padding: 2px;
      font-size: 12px;
      margin-left: 17px;
  }
  #alarm,#template{
    margin-top: 3px;
    margin-left: 6px;
  }

  #template,#reportName,#reportDescription,#select,#alarm1{
    margin-top: 3px;
    margin-left: 6px;
  }
  #startDate,#endDate{
    margin-top: 3px;
    margin-left: 3px;
  }
  label{
    margin-left: 9px;
    margin-top: 10px;
  }
  #space{
    margin-left: 6px;
  }
  mat-form-field{
    margin-left: 7px;
  }
  input{
    width:100%;
  }

