label {
  font-variant-caps: all-small-caps;
}
span{
  background-color: #1a3a7f;
  border: 1px #1a3a7f;
  color: #fff;
}
sup{
  margin-top: 8px;
}

.card-text-center
{
  padding: 3px 300px
}

@media only screen and (max-width: 786px) {

  .card-text-center
  {
    padding: 3px 22px ;
    // margin-right: -13px;
    // margin-left: -15px;
  }
}

input{
  margin-left: auto;
}

