.repName {
  cursor: pointer;
  color: #1a3a7f;
  flex: 0 0 14%;
  word-break: break-all;
}

.repName:hover {
  color: #1a3a7f;
  text-decoration: underline;
}

.demo-card-wide.mdl-card {
  width: 100%;
}


.report-container {
  height: 500px;
  margin: 1em;
}

.nav-inactive {
  color: #016698;
  cursor: pointer;
  margin: 5px;
}

.ml-auto {
  padding-right: 20px;
}

.card-head {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: bold;
  background-color: #1a3a7f;
  color: #323C43;
  height: 30px;
  padding-top: 5px;
}

.iconsWidthClass {
  flex: 0 0 8%;
}

.iconsWidthClass1 {
  flex: 0 0 26%;
  display: flex;
  justify-content: flex-start;
}

.scheWidthClass1{
  flex: 0 0 8%;
  display: flex;
  word-break: break-word;
  justify-content: flex-start;

}
.scheWidthClass21{
  flex: 0 0 12%;
  display: flex;
  word-break: break-word;
  justify-content: flex-start;

}

.scheWidthClass2{
  flex: 0 0 6.1%;
  display: flex;
  word-break: break-word;
  justify-content: flex-start;

}

.scheWidthClass22 {
  flex: 0 0 15%;
  display: flex;
  justify-content: flex-start;

}

.fa-lg {
  font-size: 1.35em !important;
}

.filterText {
  color: rgba(112, 120, 125, 1);
  min-width: 40px;
  text-align: center;
  font-size: 16px;
  background: rgba(250, 250, 250, 1) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 4px 0px 0px 4px;
  opacity: 1;
}

.nodata {
  text-align: center;
  margin-left: -13em;
}

.nodata1 {
  text-align: center;
  margin-left: -37em;
}


::ng-deep .admintabs .mat-tab-body-content {
  height: 100%;
  overflow: auto;
  overflow-x: hidden !important;
}

.app-box {
  text-align: center;
  background-color: #fff;
  padding-top: 15px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  background-color: #ecebeb;
}

.app-box:hover {
  box-shadow: 0 2px 15px 0px #9ea9c1;
}

.icon {
  padding: 10px;
  color: rgba(112, 120, 125, 1);
  min-width: 50px;
  text-align: center;
  font-size: 16px;
  background: rgba(250, 250, 250, 1) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 4px 0px 0px 4px;
  opacity: 1;
}

.input-container {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  margin-bottom: 3px;
}

.app-box:hover h4 {
  color: #133780;
}

.app-box:hover .app-btn .btn {
  border: 1px solid #133780;
  background-color: #133780;
}

.app-img {
  width: 100%;
  min-height: 146px;
}

.app-img img {
  width: 136px;
}

.app-info {
  padding-bottom: 15px;
  margin-bottom: 0;
  padding-top: 10px;
  background-color: #f9f7f7;
}

.app-dec {
  min-height: 86px;
}

.app-dec h4 {
  color: #e85d1b;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 5px;
}

::ng-deep .mat-tab-label,
.mat-tab-link {
  color: #323C43;
  font-family: Arial, sans-serif !important;
  font: normal normal 600 14px/20px Arial;
}

.app-btn .btn {
  border: 1px solid #e85d1b;
  background-color: #e85d1b;
  color: #323C43;
  padding: 3px 17px;
}

.repName {
  cursor: pointer;
  color: #1a3a7f
}

.repName:hover {
  color: #1a3a7f;
  text-decoration: underline;
}

.table-responsive {
  padding: 10px;
  width: 115%;
}

.table {
  width: 128%;
}

.action {
  flex: 0 0 6%;
}


// Pagination COntrol Page Current Page Number Color
.my-pagination ::ng-deep .ngx-pagination .current {
  background: #193A7E;
}

@media only screen and (max-width: 599px) {
  .dashboard-content .mat-card {
    top: 35px !important;
  }
}

@media only screen and (max-width: 786px) and (min-width: 600px) {

  .dashboard-content .mat-card {
    top: 57px !important;
  }

  mat-footer-row,
  mat-row {
    min-height: 109px;
  }

  .mat-cell {
    word-break: break-all;
  }

}

@media only screen and (max-width: 850px) and (min-width: 750px) {
  .nodata {
    text-align: center;
    margin-left: -6em;
  }

  .nodata1 {
    text-align: center;
    margin-left: -15em;
  }
}

.noWidthClass {
  flex: 0 0 5%;
}

.nameWidthClass {
  flex: 0 0 14%;
}

.actnWidthClass {
  flex: 0 0 7%;
}

.emailWidthClass {
  flex: 0 0 18%;
}

@media only screen and (min-width: 700px) and (max-width:1200px) {
  .mat-cell {
    font-size: 10px;
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 10px;

  }

  .mat-header-cell {
    font: normal normal bold 10px/18px Arial;
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;


  }

  .table {
    width: 80%;
  }

  .table1 {
    padding: 10px;
    width: 80% !important;
  }

  mat-header-cell:first-of-type {
    padding-left: 11px;
  }

  .nodata {
    text-align: center;
    margin-left: 0em;
  }

  .nodata1 {
    text-align: center;
    margin-left: 0em;
  }

}

@media only screen and (min-width: 300px) and (max-width:700px) {
  .mat-cell {
    font-size: 10px;
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70px;

  }

  .mat-header-cell {
    font: normal normal bold 10px/18px Arial;
    flex: 0 0 30%;
    display: flow;

  }

  .table {
    width: 100%;
  }

  .table1 {
    padding: 10px;
    width: 100% !important;
  }

  mat-header-cell:first-of-type {
    padding-left: 11px;
  }

  .nodata {
    text-align: center;
    margin-left: 0em;
  }

  .nodata1 {
    text-align: center;
    margin-left: 0em;
  }
}
