.info {
    border-left: 2px solid #2196F3;
    height: 17px;
    padding: 2px;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 15px;
}
button{
    margin-left: 13px;
}
#light{
    color: black;
    font-size: x-small;
}