<div *ngIf="route.children.length == 0">
  <app-spinner *ngIf="showSpinner"></app-spinner>
  <div *ngIf="!showSpinner">
    <div>
      <div>
        <div class="fixedPosition">
        <span data-toggle="tooltip" title="Back" (click)="backParent()" class="sla-back-icon refresh-icon"
          *ngIf="!utility.routerValue" style="margin-left: 0%;margin-top: 1px;">
          <mat-icon mat-list-icon class="btn-primary click-event">arrow_back</mat-icon>
        </span>
        <div class="float-right">
          <mat-paginator
          #pointPaginator
          [hidden]="length < 10"
          [length]="dataLength"
          [pageSize]="pageSize"
          [pageIndex]="currentPageIndex"
          [pageSizeOptions]="pageSizeOptions"
          (page)="getData($event)" [showFirstLastButtons]="true" [disabled]="isDisable"
          class="pageTop"
      ></mat-paginator>
        </div>
       
        <div *ngIf="utility.patternShow">
          <div *ngIf ="length>0"><h5 class="search-message py-2">Showing {{startingIndex + 1}} - {{endingIndex}}
            of {{dataLength}} results for Pattern<b>"{{model.keyWord}}"</b> in <b>"{{model.objectType}}"</b></h5></div>
            <div *ngIf ="length==0">  <h5 class="search-message py-2">Showing {{startingIndex}} - {{endingIndex}}
              of {{dataLength}} results for Pattern<b>"{{model.keyWord}}"</b> in <b>"{{model.objectType}}"</b></h5></div>
        </div>
        <div *ngIf="(model.DevNum != null && model.DevNum != '') && !utility.patternShow">
          <div>
            <div *ngIf ="length>0"><h5 class="search-message py-2">Showing {{startingIndex + 1}} - {{endingIndex}} of
              {{length}} results for <b>"{{model.objectType}}"</b> in <b>"Device {{model.DevNum}}"</b></h5></div>
              <div *ngIf ="length==0">  <h5 class="search-message py-2">Showing {{startingIndex + 1}} - {{endingIndex}} of
                {{length}} results for <b>"{{model.objectType}}"</b> in <b>"Device {{model.DevNum}}"</b></h5></div>
          </div>
        </div>
        <div *ngIf="(model.DevNum == null || model.DevNum == '') && !utility.patternShow">
          <div *ngIf="model.keyWord == null || model.keyWord == ''">
            <div *ngIf ="length>0"> <h5 class="search-message py-2">Showing {{startingIndex + 1}} - {{endingIndex}} of
              {{dataLength}} results for <b>"{{model.objectType}}"</b></h5></div>
              <div *ngIf ="length==0"> <h5 class="search-message py-2">Showing {{startingIndex}} - {{endingIndex}} of
                {{dataLength}} results for <b>"{{model.objectType}}"</b></h5></div>
          </div>
          <div *ngIf="(model.keyWord != null && model.keyWord != '') && !utility.patternShow">
            <div *ngIf ="length>0"> <h5 class="search-message py-2">Showing {{startingIndex + 1}} - {{endingIndex}}
              of {{dataLength}} results for <b>"{{model.keyWord}}"</b> in <b>"{{model.objectType}}"</b></h5></div>
            <div *ngIf ="length==0"> <h5 class="search-message py-2">Showing {{startingIndex}} - {{endingIndex}}
                of {{dataLength}} results for <b>"{{model.keyWord}}"</b> in <b>"{{model.objectType}}"</b></h5></div>
          </div>
        </div>
        <div *ngIf="isDetails !='true'; else elseBlock1">
          <div class="input-container" style="float:left">
            <i class="fa fa-filter icon" matTooltip="Filter"></i>
            <input class="form-control" type="text" name="search" placeholder="Filter" [(ngModel)]="filter"
              (keyup.enter)="applyFilter($event.target.value,$event)" (keyup)="filterByKey($event.target.value,$event)"
              style="border-radius:0px;width:auto;margin-left: 0px;">
          </div>
        </div>
        <ng-template #elseBlock1>
          <div class="input-container" style="float:left">
            <i class="fa fa-filter icon" matTooltip="Filter"></i>
            <input class="form-control" type="text" name="search" placeholder="Filter" [(ngModel)]="filter"
              (keyup)="applyFilter1($event.target.value)" style="border-radius:0px;width:auto;margin-left: 0px;">
          </div>
        </ng-template>
        <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field> -->
    <div>
      <div class="info" *ngIf="model.app == 'app'">
        <p>Select up to 25 {{model.objectType}}s for Analysis</p>
      </div>
    </div>
        </div><br /><br />
        <div class="scroller">
        <div *ngIf="length == 0 && filter == ''; else elseBlock2">
          <h5 style="text-align:center">No results found</h5>
        </div>
        <ng-template #elseBlock2>
          <div *ngIf="isDetails !='true'; else elseBlock">
            <div *ngIf="length > 0 && pointList.filteredData.length == 0">
              <h5 style="text-align:center">No results found for the specified filter, press <b>Enter</b> for more results
                from database</h5>
            </div>
            <div *ngIf="length == 0">
              <h5 style="text-align:center" *ngIf="adhocUtility.saveFilter == ''">No results found</h5>
              <h5 style="text-align:center" *ngIf="adhocUtility.saveFilter != ''">No results found for
                <b>{{adhocUtility.saveFilter}}</b></h5>
            </div>
          </div>
          <ng-template #elseBlock>
            <div *ngIf="pointList.filteredData.length == 0">
              <h5 style="text-align:center">No records found for filter <b>{{filter}}</b> in the fetched results</h5>
            </div>
          </ng-template>
        </ng-template>

        <div class="example-container mat-elevation-z8">

          <div class="spinner-container" *ngIf="pointList">
            <!-- <mat-spinner></mat-spinner> -->
          </div>

          <mat-table #table [dataSource]="pointList" matSort *ngIf="length > 0">

            <!-- First Column ID-->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Point Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> <a [routerLink]="['./pointDetail']"
                  [queryParams]="{objectType: model.objectType,sid: element.sid,isDetails:true,app:model.app}">{{element.name}}</a>
              </mat-cell>
            </ng-container>

            <!-- Second Column -->
            <ng-container matColumnDef="pointType">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Point Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.pointType }} </mat-cell>
            </ng-container>

            <!-- Third Column -->
            <ng-container matColumnDef="engineeringUnit">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Engineering Units </mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.engineeringUnit}}
                <div class="form-group">
                  <!-- <a target="_blank"
                        (click)="onNavigate(element.productCode)" href="#">{{element.productCode}}</a> -->
                </div>
              </mat-cell>
            </ng-container>
            <!-- Fourth Column -->
            <ng-container matColumnDef="instance">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Point Instance </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.instance }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Point Description </mat-header-cell>
              <mat-cell *matCellDef="let element"> <a [routerLink]="['./pointDetail']"
                  [queryParams]="{objectType: 'Points',sid: element.sid,isDetails:true,app:model.app}">{{element.description}}</a>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="DevNum">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Device Instance </mat-header-cell>
              <mat-cell *matCellDef="let element"> <a [routerLink]="['./deviceDetail']"
                  [queryParams]="{objectType: 'Device',DevNum: element.devNum,isDetails:true,app:model.app}">{{element.devNum}}</a>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

        </div>
     </div>
      </div>

    </div>
    <!-- <div *ngIf="!showSpinner">
    <div *ngIf="length==0">
      <div *ngIf="model.keyWord == null || model.keyWord == ''">
          <div *ngIf="model.objectType == 'Energylog'">
              <h5 style="text-align:center">No Results Found for <b>"{{model.objectType}}"</b></h5>
          </div>
          <div *ngIf="model.objectType != 'Energylog'">
              <h5 style="text-align:center">
                  No Results Found for <b>"{{model.objectType}}"</b>
              </h5>
          </div>
      </div>
      <div *ngIf="model.keyWord != null && model.keyWord != ''">
          <div *ngIf="model.objectType == 'Energylog'">
              <h5 style="text-align:center">No Results Found for <b>"{{model.keyWord}}"</b> in <b>"Energy
                      Log"</b></h5>
          </div>
          <div *ngIf="model.objectType != 'Energylog'">
              <h5 style="text-align:center">No Results Found for <b>"{{model.keyWord}}"</b> in
                  <b>"{{model.objectType}}"</b></h5>
          </div>
      </div>
    </div>
  </div> -->

  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
