@media only screen and (min-width: 300px) and (max-width: 900px)
{

    .edt
    {

padding-bottom: 17px;
    }


    .gdp-label{
        margin-top: 5px;
        padding-left: 10px;
      
    }


}



