.custom-checkbox-header, .custom-checkbox-cell {
    width: 130px; /* Adjust the width as needed */
    min-width: 130px; /* Ensure the minimum width */
    max-width: 130px; /* Ensure the maximum width */
    padding: 0; /* Remove padding to make the column more compact */
  }
  