.mat-form-field {
  display: block !important;
  //border-top: 0px !important;
}
.mat-form-field-infix {
  //display: block !important;
  border-top: 0px !important;
}

.mat-form-field-appearance-legacy {
  width: 106%;
}
#template{
  margin-top: 3px;
  margin-left: 6px;
}

#template,#reportName,#reportDescription{
  margin-top: 3px;
  margin-left: -22px;
  width: 106%;
}

label{
  margin-left: -20px;
  margin-top: 10px;
}
input{
  margin-left: -20px;
  margin-top: 3px;
  width: 106%;
}

mat-form-field{
  margin-left: -22px;
  margin-top: 3px;
  width: 300px;
}


.selected-list .c-btn {
  font-family: Arial, Sans-Serif !important;
  margin-left: -24px;

}

.dropdown-list.tagToBody.animated.fadeIn{
  position: sticky;
}
