<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a
          [routerLink]="'/tDashboard/' + commonModel.tenantId">{{this.commonModel.tenantName}}</a></li>
      <li class="breadcrumb-item"><a routerLink="/apps">Apps</a></li>
      <li class="breadcrumb-item"> <a [routerLink]="'/appAlarm/' + _utility?.appID">Alarm</a></li>
      <li class="breadcrumb-item">
        <a *ngIf="_utility.isReportRun || _utility.isbreadEditReport" [routerLink]="'/appAlarm/' + _utility?.appID">
          {{ _utility.isReportRun ? 'RunReport' : 'EditReport' }}
        </a>
      </li>
    </ol>
  </nav>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <!-- Brand/logo -->
    <!-- <a class="navbar-brand" style="color:#000;">{{_utility.appName | uppercase}}</a> -->
    <img src="{{'assets/icons/'+_utility.normalizedAppName+'.svg'}}" width="30px" height="30px"
      class="toggle-tenants mx-2" aria-hidden="false" matTooltip="{{_utility.appName}}" />
    <a class="navbar-brand appName">{{_utility.appName}}</a>

    <!-- Links -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a>
          <i class="fa fa-list" [ngClass]="_utility.isReportList ? 'nav-active' : 'nav-inactive'"
            (click)="_utility.isCreateReport ? reportList() : ''">
            &nbsp;<span class="app-navs"> Reports List |</span>
          </i>
        </a>
      </li>
      <li class="nav-item">
        <a>
          <i class="fa fa-plus" [ngClass]="
              _utility.isCreateReport ? 'nav-active' : 'nav-inactive'
            " (click)="_utility.isReportList ? createReport() : ''">
            &nbsp;<span class="app-navs">Create Report </span>
          </i>
        </a>
      </li>
    </ul>
  </nav>
  <!--
  <div class="row" style="margin-top: 5px;margin-bottom: 5px;float: right">
     <button
    type="button"
    class="btn btn-primary "
    style="margin-right: 5px"
    (click)="configure()"
    [disabled]="_utility.isConfigure"
  >
    Configure
  </button>
  <button
    type="button"
    class="btn btn-primary"
    style="margin-right: 5px"
    (click)="reportList()"
    [disabled]="_utility.isReportList"
  >
    Reports List
  </button>
  <button
    type="button"
    class="btn btn-primary"
    style="margin-right: 5px"
    (click)="createReport()"
    [disabled]="_utility.isCreateReport"
  >
    Create Report
  </button>

    <a>
      <i class="fa fa-list"
         [ngClass]="_utility.isReportList ? 'nav-active' : 'nav-inactive'"
         (click)="reportList()">
        &nbsp; Reports List |
      </i>
    </a>
    <a>
      <i class="fa fa-plus"
         [ngClass]="_utility.isCreateReport ? 'nav-active' : 'nav-inactive'"
         (click)="createReport()">
        &nbsp;Create Report
      </i>
    </a>
</div>
    <hr style="background-color: #1a3a7f;margin-top: 2rem" />
        -->
  <div *ngIf="_utility.isReportList">
    <app-rpt-list></app-rpt-list>
  </div>
  <div *ngIf="_utility.isCreateReport">
    <app-alarm-view-rpt></app-alarm-view-rpt>
  </div>
</div>