<div class="app-content mt-3">
  <div class="row justify-content-start" style="margin-bottom: 20px;">
    <div class="col-3">
      <button class="btn btn-outline-primary" (click)="discard()">
        Back
      </button>
    </div>
    <div class="col-3">
      <div *ngIf="_utility.createRpt  && _utility.toggle">
        <button type="button" class="btn btn-outline-primary" (click)="comParam.saveReport()"
          [disabled]="
        _utility.btnLoading || (!_utility.validTemplateForm || _utility.reportNameExists || _utility.hasReportNameValid || _utility.isReportNameEmpty)">
          <span *ngIf="_utility.btnLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
        </button>
      </div>
      <div *ngIf="!_utility.createRpt  && _utility.toggle">
        <button type="button"
          [disabled]="_utility.btnLoading || (!_utility.validTemplateForm || _utility.isReportNameEmpty || _utility.reportNameExists || _utility.hasReportNameValid)"
          class="btn btn-outline-primary" (click)="comParam.UpdateReportDialog()">
          <span *ngIf="_utility.btnLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Update
        </button>
      </div>
    </div>

    <div class="col-3">
      <button class="btn btn-outline-primary" (click)="comParam.previewReport()"
        [disabled]="!_utility.validTemplateForm || _utility.hasReportNameValid || _utility.isReportNameEmpty "  *ngIf="_utility.toggle">
        Preview
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong style="cursor:pointer;" (click)="openNav()">&#9776; Parameters</strong>
    </div>
    <div class="col-md-3">
      <strong>{{ reportObj.ReportName }}</strong>
    </div>
    <div class="col-md-3" style="text-align: end;" *ngIf="_utility.isRunFeatures && !_utility.isGrafana">
      <app-rpt-pagination [appType]="'crEq'"></app-rpt-pagination>
    </div>
    <div class="col-md-2" style="text-align: end;" *ngIf="_utility.isRunFeatures">

      <span matTooltip="Download as PDF" style="color:brown;cursor: pointer;"><i class="fa fa-file-pdf-o"
          style="font-size: 27px;" (click)="downloadPdf()"></i></span>
      <span matTooltip="Download as Excel" style="color:green;margin:5px;cursor: pointer;"><i class="fa fa-file-excel-o"
          style="font-size: 27px;" (click)="downloadExcel()"></i></span>
      <span matTooltip="Download as CSV" style="color:blue;cursor: pointer;" *ngIf="!_utility.csvDownloadFlag"><i
          class="fa fa-file-text-o" style="font-size: 27px;" (click)="downloadCSV()"></i></span>
    </div>
  </div>
  <div class="row">
    <div id="mySidenav" class="sidenav" [ngStyle]="{
          width: _utility.isClickedToggle ? '34%' : '0', display: _utility.isClickedToggle ? 'block' : 'none'
        }">

      <div style="padding:15px 35px;">
        <creq-common-params [id]="id" #comParam></creq-common-params>
      </div>
    </div>
    <div id="main" [ngStyle]="{
          width: _utility.mainWidthToggle ? '66%' : '100%'
        }">
      <hr />
      <!-- <app-spinner *ngIf="_utility.showSpinner"></app-spinner> -->
      <!-- Resolution Buttons in side Report -->
      <div class="row resolutions" *ngIf="_utility.isRunFeatures && _utility.isEnableResolution">
        <app-rpt-resolutions *ngFor="let resolution of coreService.resolutions" [buttonLabel]="resolution.key"
          (resClick)="comParam.onClickResolutionBtn($event)">
        </app-rpt-resolutions>
      </div>
      <div *ngIf="_utility.isGrafana; else creqReport">
        <!-- <iframe src="http://localhost:3000/d/ADoVAMQVzqa/global-alarm-summary-dashboard?orgId=1&from=1692592376801&to=1692613976801"  width="100%" height="1000px"  frameborder="0"></iframe> -->

        <!-- <span (click)="goBack()" class="sla-back-icon refresh-icon my-custom-span">
          <mat-icon mat-list-icon class="btn-primary click-event my-custom-icon">arrow_back</mat-icon>
        </span> -->

        <iframe id="myFrame" [src]="_utility.Grafanaurl" width="100%" height="600px" frameborder="0"></iframe>

      </div>
      <ng-template #creqReport>
        <app-show-report [rptData]="_utility.reportData"></app-show-report>
      </ng-template>
      <div *ngIf="_utility.isObjectSelection">
        <app-room-equipment-selection [Inputparams]="'eid'"></app-room-equipment-selection>
      </div>
      <!-- <div *ngIf="_utility.isGrafana; else creqpReport"> -->
      <!-- <iframe src="http://localhost:3000/d/ADoVAMQVzqa/global-alarm-summary-dashboard?orgId=1&from=1692592376801&to=1692613976801"  width="100%" height="1000px"  frameborder="0"></iframe> -->
      <!-- <iframe
          id="myFrame"
          [src]="_utility.Grafanaurl"
          width="100%"
          height="600px"
          frameborder="0"
        ></iframe> -->
      <!-- </div>
        <ng-template #creqpReport> -->
      <!-- <app-show-report [rptData]="_utility.reportData"></app-show-report> -->
      <!-- </ng-template> -->
    </div>
  </div>
</div>
